@import "tailwindcss";


@theme {
    --color-background: #252B42;
    --color-primary: #252b42;
    --color-teprimary: #162839;
    --color-foreground: #FFF;
    --color-card-background: #FFFFFF;
    --color-muted: #737373;
    --font-montserrat: 'Montserrat';
    --breakpoint-xs: 460px;
    --font-inter: 'Inter';
    --color-ashen: #64748B;
    --color-boldashen: #0F172A;
    --color-offwhite: #F6F3ED;
    --color-Dark_Taupe: #635E55;
    --color-Cool_Slate_Gray: #676259;
    --color-Light_Steel_Blue: #96A9BE;
    --color-Medium_Slate_Gray: #74777D;
    --color-cool_charcoal_gray: #43474C;
    --color-Very_Light_Mint_Green: #DCFCE7;
    --color-Light_Creamy_Yellow: #FEF9C3;
    --color-Dark_Navy_Blue: #162839;
    --color-Success_Green: #16A34A;
    --color-Midnight_Blue: #2C3E50; 
    --color-warm_offwhight: #F0EEE8; 

    --shadow-bottom-only: 0 10px 15px -12px rgba(0, 0, 0, 0.2);


}

body {}

.container {
    @apply mx-auto;
}

.mycontainer {
    @apply mx-[32px];

}

@utility row {
    @apply flex items-center
}

@utility column {
    @apply flex flex-col
}
h1 {
    font-size: 3.625rem;
    line-height: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 500;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}
